
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

.hero-image {
    background-image: url('../public/images/ImagenPrincipal.avif');
    background-size: cover;
    background-position: center;
}

.bounce {
    animation: bounce 2s infinite;
}

.input-separator {
  width: 1px;
  background-color: #D1D5DB; /* Tailwind gray-300 */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}