@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

.hero-image {
  background-image: url('../public/images/ImagenPrincipal.avif');
  background-size: cover;
  background-position: center;
}

.bounce {
  animation: bounce 2s infinite;
}

.input-separator {
  width: 1px;
  background-color: #D1D5DB;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.w-full.max-w-xs {
  max-width: 10rem;
}

@media screen and (max-width: 420px) {
  .slide-up {
    animation: slideUp 0.3s ease-out forwards;
  }

  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(25%);
    }
  }
}

#overlay {
  z-index: 40; 
}
